
.container {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
}

.tlp-enter-active {
    animation-duration: 2s;
    animation-name: slidein;
}
      
@keyframes slidein {
    from {
        transform: translateX(100px);
        opacity: 0.1;
    }
          
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.button-refresh {
    color: white;
    border: none;
    margin: 2px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 4px;
}

.button-lang {
    margin: 4px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background-color: #0e69a2;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 6px darkblue;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
