
.container {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
}



.genericWindow-enter-active {
    animation-duration: 0.3s;
    animation-name: maximize;
}

.genericWindow-leave-active {
    animation-duration: 0.3s;
    animation-name: minimize;
}



.tlp-enter-active {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes maximize {
    from {
        transform: scale(0);
        opacity: 0;
    }
          
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes minimize {
    from {
        transform: scale(1);
        opacity: 1;
    }
          
    to {
        transform: scale(0);
        opacity: 0;
    }
}
      
@keyframes slidein {
    from {
        transform: translateX(100px);
        opacity: 0.1;
    }
          
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.btn-action {
    color: white;
    border: none;
    margin: 2px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 4px;
}


.button-refresh:active {
    transform: rotate(360deg);
    transition-duration: 0.5s;
    transition-property: transform;
}

.button-lang {
    margin: 4px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background-color: #0e69a2;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 6px darkblue;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
